@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

.video-item {
  object-fit: cover;
}
.content {
  max-width: 800px;
  min-width: 316px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.contentundersearch {
  font-family: "Slabo 27px", serif;
}

.maininfo {
  font-size: 50px;
}
.warm {
  padding-top: 40px;
  padding-left: 10px;
}

.inforight {
  padding-left: 50px;
}
#city {
  font-size: 40px;
  height: 60px;
}
#current-city-name {
  font-size: 40px;
}
#nowday {
  font-size: 20px;
}
.day {
  opacity: 75%;
}
.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}

.button-search {
  width: 120px;
}
#nowday {
  height: 30px;
}
.units {
  position: relative;
  font-size: 30px;
  top: -33px;
}
.temperature {
  font-size: 80px;
  margin-top: 0px;
  line-height: 80px;
}
.source {
  text-align: right;
  max-width: 800px;
  min-width: 316px;
  margin: 0 auto;
}
li {
  list-style-type: none;
  height: 40px;
}
.temp,
.wind,
.hum {
  height: 35px;
  opacity: 75%;
}
.card img {
  width: 50%;
}
.warm {
  width: 200px;
}
#min {
  margin-bottom: 0;
}

.img-btn {
  background-image: url(../images/loc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left, center;
  cursor: pointer;
  padding-left: 36px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.row {
  margin: 0%;
}

@media screen and (min-width: 540px) {
  .card-temp {
    font-size: 1rem;
  }
  .maininfo {
    margin-top: 0px;
  }
  #iconsleft {
    padding-top: 20px;
  }
  .warm {
    padding-top: 0px;
  }
}
@media screen and (min-width: 767px) {
  .maininfo {
    margin-top: 20px;
  }
  #iconsleft {
    padding-top: 60px;
  }
  .inforight {
    margin-top: 20px;
  }
  .warm {
    padding-top: 50px;
  }
}
